<div ng-controller="controllerDisplay as ngDisplay">

    <div class="title-bar">
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-default" ng-click="ngDisplay.setDisplayRange('back')">
                        <span class="glyphicon glyphicon-arrow-left icon-next"  aria-hidden="true"></span>
                    </button>
                </td>
                <td style="width: 100%; text-align: center"><span id="spanIcon" style="margin-left: 5px; margin-right: 5px;" aria-hidden="true"></span>{{ngDisplay.currentTitle()}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="ngDisplay.setDisplayRange('next')">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <div ng-controller="controllerStyles as ngStyles">
        
        <div id="display-background" ng-style="ngStyles.displayStyle()" style="height: 84vh;">

            <table class="table table-condensed block">

                <tr ng-repeat="item in ngDisplay.selectedDisplay">
                    <td style="font-size: 12px;">{{item.label}}.</td>
                    <td style="width: 100%;">{{item.text}}</td>
                </tr>
            </table>
        </div>
        <input class="navbar-fixed-bottom" style="max-width: 100%; width: 100%" type="range" min="12" max="64" ng-change="ngStyles.setFontSize()" ng-model="ngStyles.settings.fontSize"/>
    </div>
</div>
  