<div ng-controller="controllerDisplay as ngDisplay">

    <div class="title-bar">
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-default" ng-click="ngDisplay.setDisplayRange('back')">
                        <span class="glyphicon glyphicon-arrow-left icon-next"  aria-hidden="true"></span>
                    </button>
                </td>
                <td style="width: 100%; text-align: center">
                    <span id="spanIcon" style="margin-left: 5px; margin-right: 5px;" aria-hidden="true"></span>
                    <select class="input-sm" style="width: auto; background-color: transparent;" ng-model="ngDisplay.currentDisplaySetId" ng-change="ngDisplay.displaySetChanged()">
                        <option ng-repeat="option in ngDisplay.displaySets" value="{{option.id}}">{{option.titlePrefix}}</option>
                    </select>
                    {{ngDisplay.currentTitle()}}
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="ngDisplay.setDisplayRange('next')">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <div ng-controller="controllerStyles as ngStyles">
        
        <div id="display-background" ng-style="ngStyles.displayStyle()" style="height: 84vh;">

            <table class="table table-condensed block">

                <tr ng-repeat="item in ngDisplay.displayItems">
                    <td style="font-size: 12px;">{{item.TextBefore}}.</td>
                    <td style="width: 100%; text-align:{{item.Align}}" ><bdi>{{item.ItemText}}</bdi></td>
                </tr>
            </table>
        </div>
        <input class="navbar-fixed-bottom" style="max-width: 100%; width: 100%" type="range" min="12" max="64" ng-change="ngStyles.setFontSize()" ng-model="ngStyles.settings.fontSize"/>
    </div>
</div>
  