
<div ng-controller="controllerSearch as ngSearch">
    <table>
        <tr>
            <td style="vertical-align: top; width: 700px;">
                <table style="vertical-align: top;">
                    <tr>
                        <td>
                            <button class="btn btn-do" ng-click="ngSearch.doSearch(1)">Search</button>
                        </td>
                        <td>
                            <div ng-if="ngSearch.pagination.TotalRecCount>0">{{ngSearch.pagination.TotalRecCount}} Verse found.</div></td>
                        <td>
                            <ul class="pagination" ng-if="ngSearch.pagination.TotalRecCount>0">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-repeat="pageIndex in ngSearch.getPagination()"><a href="#" ng-click="ngSearch.doSearch(pageIndex)">{{pageIndex}}</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>

                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Search Criteria</label></td>
                        <td><select class="form-control input-sm" style="width: auto" ng-model="ngSearch.selectedSearchOption" ng-options="op.caption for op in ngSearch.searchOptions" ng-init="ngSearch.selectedSearchOption = ngSearch.searchOptions[0]"/>
                        </td>
                        <td><input type="text" class="form-control input-sm" placeholder="search" ng-model="ngSearch.searchTerm">
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <tr ng-repeat="verse in ngSearch.searchResult track by $index">
                        <td> {{ngSearch.getBookName(verse.BookId)}}</td>
                        <td> {{verse.ChapterId}} </td>
                        <td> {{verse.VerseNo}} </td>
                        <td style="width: 100%"> {{verse.VerseText}} </td>
                        <td style="vertical-align: middle;">
                            <button class="btn glyphicon glyphicon-unchecked" ng-click="ngSearch.startDisplay($index+1)" data-toggle="tooltip" data-placement="bottom" title="display context"></button>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn glyphicon glyphicon-list-alt" ng-click="ngSearch.goContext(verse.BookId , verse.ChapterId, verse.VerseNo)" data-toggle="tooltip" data-placement="bottom" title="display search results"></button>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn glyphicon glyphicon-random" ng-click="ngSearch.getTranslations(verse.BibleId , verse.BookId , verse.ChapterId, verse.VerseNo)" data-toggle="tooltip" data-placement="bottom" title="display different translations"></button>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn glyphicon glyphicon-log-in" ng-click="ngSearch.sendToService(verse.BibleId, verse.BookId , verse.ChapterId, verse.VerseNo)" data-toggle="tooltip" data-placement="bottom" title="add to service preparation"></button>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top;">
                <div ng-controller="controllerGeneral as ngGeneral" style="float: right;">
                    <table class="text-sm">
                        <tr>
                            <td colspan="4" ng-click="ngSearch.clickBible()">
                                <button type="button" class="btn btn-do btn-sm btn-block"> {{ngSearch.bibleStructure.Title}} </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" ng-repeat="testment in ngSearch.bibleStructure.Testments ">
                                <button type="button" class="btn btn-do btn-sm btn-block" ng-click="ngSearch.clickTestment(testment)"> {{testment.Name}} </button>
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="groupColumn in ngGeneral.range(1,4,1)" style="vertical-align: top">
                                <table>
                                    <tr ng-repeat="group in ngSearch.showGroup(groupColumn) ">
                                        <td>
                                            <button type="button" class="btn btn-do btn-sm btn-block" ng-click="ngSearch.clickGroup(group)">{{group.Name}} </button>
                                            <div ng-repeat="book in group.Books">
                                                <input type="checkbox" ng-model="book.boolSelected" ng-click="ngSearch.clickBook(book)"/> {{book.Name}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>
    </table>

</div>
