body {
    padding-top: 45px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.borderless table, .borderless td, .borderless th {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.biblebook-striped > tbody > tr:nth-child(odd) > td,
.biblebook-striped > tbody > tr:nth-child(odd) > th {
    background-color: hsl(186, 50%, 95%);
}

.biblebook-striped > tbody > tr:nth-child(even) > td,
.biblebook-striped > tbody > tr:nth-child(even) > th {
    background-color: hsl(186, 50%, 87%);
}

.biblebook-hover > tbody > tr:hover > td,
.biblebook-hover > tbody > tr:hover > th {
    background-color: hsl(186, 30%, 75%);
    color: white;
}

.biblebook-selected {
    background-color: hsl(186, 20%, 65%) !important;
    color: white;
}

.menu-bar {
    background-color: hsl(186, 50%, 96%);
    background-image: -webkit-linear-gradient(top, hsl(186, 50%, 95%), hsl(186, 50%, 96%), hsl(186, 50%, 95%));
    background-image: -moz-linear-gradient(top, hsl(186, 50%, 95%), hsl(186, 50%, 96%), hsl(186, 50%, 95%));
    background-image: -o-linear-gradient(top, hsl(186, 50%, 95%), hsl(186, 50%, 96%), hsl(186, 50%, 95%));
    background-image: linear-gradient(to bottom, hsl(186, 50%, 95%), hsl(186, 50%, 96%), hsl(186, 50%, 95%));
}

.title-bar {
    background-color: hsl(186, 50%, 86%);
    font-weight: bold;
}

.btn-do {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-do:hover, .btn-do:focus, .btn-do:active, .btn-do.active, .open .dropdown-toggle.btn-do {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.content-vertical-scroll {
    height: 85vh;
    overflow-y: scroll;
}